# Database
DATABASE_URL="file:./dev.db"

# Server
PORT=3001

# Hippo Protocol Node
REST_URL=http://localhost:1317
RPC_URL=http://localhost:26657

# Richlist sync (milliseconds, default: 24 hours)
SYNC_RICHLIST_INTERVAL_MS=86400000